input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.clearfix, .clearfix::before, .clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    background: black;
    overflow: hidden;
}

.panel {
    width: 240px;
    height: 100vh;
    background-color: aliceblue;
    padding: 48px 24px;
    float: left;
}

.panel-section {
    width: 100%;
    height: auto;
    padding: 28px 18px;
    /*border: 4px solid pink;*/
}

.panel-section-title {

}

.panel-section-title::after {
    content: "";
    width: 100%;
    background-color: gray;
    margin-top: 4px;
    margin-bottom: 12px;
    height: 2px;
    float: left;
}


.panel-number-input {
    margin-left: 50%;
    width: 96px;
    height: 64px;
    padding-top: 8px;
    background: none;
    border: none;
    user-select: none;
    font-size: 36px;
    border-bottom: 3px solid silver;
    text-align: center;
    transition: 0.5s;
    transform: translateX(-50%);
    margin-bottom: 24px;
    float: left;
}

.panel-number-input:hover {
    border-bottom: 3px solid gray;
}

.panel-number-input:focus {
    /*outline: none;*/
    outline-style: dotted;
    /*outline: antiquewhite;*/
}

.panel-buttons-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*margin-bottom: 24px;*/
    margin-bottom: 16px;
    float: left;
}

.panel-button {
    width: auto;
    height: auto;
    margin: 10px 0;
    /*margin-left: 50%;*/
    /*margin-left: 24px;*/
    font-size: 14px;
    /*transform: translateX(-50%);*/
    cursor: pointer;
    border: none;
    background: none;
    color: #5d5d5d;
    transition: 0.5s;
    font-weight: 600;
    float: left;
}

.panel-button:hover {
    background: none;
    color: black;
}

.panel-description-box {
    width: 100%;
    height: 200px;
    border: 1px dotted #5d5d5d;
    padding: 12px;
    float: left;
}

#panel-description-insert {
    display: none;
}

.selection-container {
    width: 100%;
    height: 30px;
    /*border: 1px dotted #5d5d5d;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*border-radius: 8px;*/
    overflow: hidden;
    float: left;
}

.selection-item {
    width: 100%;
    height: 100%;
    cursor: pointer;
    /*background-color: silver;*/
    text-align: center;
    /*transition: 0.5s;*/
}

.selection-item--selected {
    border-bottom: 2px solid gray;
}

.selection-item:hover {
    border-bottom: 2px solid silver;
}