input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.clearfix, .clearfix::before, .clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background: white;
    overflow: hidden;
}

.panel {
    width: 240px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 48px 24px;
    /*border-right: 4px solid yellow;*/
    box-shadow: 3px 0 6px #cecbcb;
    border-right: 2px solid silver;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
}

.panel-number-input {
    margin-left: 50%;
    width: 96px;
    height: 64px;
    padding-top: 8px;
    background: none;
    border: none;
    user-select: none;
    font-size: 36px;
    border-bottom: 3px solid silver;
    text-align: center;
    transition: 0.5s;
    transform: translateX(-50%);
    margin-bottom: 24px;
    float: left;
}

.panel-number-input:hover {
    border-bottom: 3px solid gray;
}

.panel-number-input:focus {
    /*outline: none;*/
    outline-style: dotted;
    /*outline: antiquewhite;*/
}

.panel-section {
    width: 100%;
    height: auto;
    /*margin-bottom: 16px;*/
    position: relative;
    float: left;
}

.panel-button, .about-view-exit-button {
    width: 100%;
    height: auto;
    margin: 8px 0;
    /*margin-left: 50%;*/
    /*margin-left: 24px;*/
    font-size: 14px;
    /*transform: translateX(-50%);*/
    cursor: pointer;
    background: none;
    color: #5d5d5d;
    transition: 0.5s;
    font-weight: 600;
    text-align: left;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 10px;
    float: left;
}

.panel-button:hover, .about-view-exit-button:hover {
    background-color: silver;
    color: black;
}

.panel-button-output {
    font-size: 15px;
    margin-left: 8px;
}

table {
    width: 100%;
}

.panel-subsection {
    width: 100%;
    border: 1px solid rgba(192, 192, 192, 0.59);
    border-radius: 10px;
    padding: 10px;
    padding-top: 14px;
    margin: 8px 0;
    margin-top: 10px;
    position: relative;
}

.panel-subsection-title {
    position: absolute;
    top: -10px;
    left: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #5e5e5e;
    background-color: white;
    padding: 0 3px;
}

.panel-separator {
    margin: 18px 0;
    border: 0;
    border-top: 1px solid silver;
}